.syntax--orange {
  color: @orange;
}

.syntax--gray {
  color: @gray;
}

.syntax--data-type {

  &.syntax--dark-green {
    color: @dark-green;
  }

  &.syntax--blue {
    color: @blue;
  }
}

.syntax--light-green {
  color: @light-green;
}

.syntax--purple {
  color: @purple;
}

.syntax--purple-italic {
  color: @purple;
  font-style: italic;
}

.syntax--light-blue {
  color: @light-blue;
}

.syntax--yellow {
  color: @yellow;
}
